.style1
{
    color:red;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
.style2
{
    color:blue;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}  
.style3
{
    color:green;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}